
body {
	font: bold 20px Helvetica, Arial, sans-serif;
	margin: 0;
}
dl {
	margin: 0;
	min-height: 1px;
	overflow: hidden;
	padding: 24px 0 0 0;
	position: relative;
}
dt, .fakeHeader {
	background: #B8C1C8;
	border-bottom: 1px solid #989EA4;
	border-top: 1px solid #717D85;
	color: #FFF;
	font: bold 18px/21px Helvetica, Arial, sans-serif;
	height: 24px;
	margin: 0;
	padding: 2px 0 0 12px;
	position: absolute;
	text-shadow: 0 1px #646A6E;
	width: 100%;
	-moz-text-shadow: 0 1px #646A6E;
	-webkit-text-shadow: 0 1px #646A6E;
}
dt {
	bottom: auto;
	min-height: 1px;
	top: 0;
}
.fakeHeader {
	width: 273px;
	z-index: 1000;
}


.fakeHeader.hidden {
	display: none;
}
dl.animated dt {
	bottom: 0;
	top: auto;
}
dd {
	font: bold 20px/45px Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0 0 0 12px;
	white-space: nowrap;
}
dd + dd {
	border-top: 1px solid #CCC;
}
